<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>神约ICP登录</title>
<!--–[if lte IE 7]-->
<meta http-equiv="x-ua-compatible" content="ie=8">
<!--[endif]–-->
<link rel="stylesheet" type="text/css" href="../../../../Public/css/common.css">
<link rel="stylesheet" type="text/css" href="../../../../Public/css/home.css">
</head>
<body>
<div id="wrapper">
	<div class="head">
		<div class="head_cont">
			 <ul>
          <li class="logo"><a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo.jpg"></a></li>
          <li><a href="{:U('Index/index')}">首页</a></li>
          <li><a href="{:U('Index/singer')}">歌手</a></li>
          <li><a href="{:U('Index/singerlist')}">排行榜</a></li>
       </ul>
       <ul class="right">
          <li><a href="{:U('Login/register')}">注册</a></li>
          <li class="cur"><a href="{:U('Login/login')}">登录</a></li>
       </ul>							
		</div>
	</div>
	<!-- 内容 -->
	<div class="main">		
		<div class="main-model">
      <div class="dengL">
         <form method='post' id='form_data'>
            <p><label>手机号</label><input type="text" name="mobile" placeholder="6-30位数字，字母" /><span></span></p>
            <p><label>密码</label><input type="password" name="password" placeholder="6-30位数字，字母" /><span></span></p>
            <p class="font"><input type="checkbox" checked="checked"/>我已阅读并同意<a href="{:U('Index/agreement')}">《用户协议》</a></p>
            <p class="inputBtn"><input type="button" onclick="save()" value="登录" /><span id='e_mtel3'></span></p>
            <p class="pwFont"><a href="{:U('Index/findPw')}">忘记密码？</a><a href="{:U('Login/register')}">注册新账户</a></p>
         </form>
      </div>        
		</div>
	</div>
  <div class="footer">
     <div class="footer_cont">
        <ul>
           <li><a href="">服务条款</a><a href="">安全须知</a><a href="">“神约”用户协议</a><a href="">客服电话：4008 7288 83</a></li>
           <li><a href="">备案/许可证编号为：京ICP备17025424</a></li>
        </ul>
     </div>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/js/home.js"></script>
<script>
function save(){
    $.ajax({
        type: "POST",
        url: "{:U(login)}",
        data:$('#form_data').serialize(),
        dataType: 'json',
        success: function ($result) {
            if($result.status){
                window.location.href="{:U('index/index')}";
            }else{
                console.log($result.info);
                $('#e_mtel3').html($result.info);
            }
        },
    });
}
</script>
</body>
</html>