.ifpQueryContainer {
  padding: 40px;
}
.ifpQueryContainer .queryResult {
  font-size: 12px;
}
.ifpQueryContainer .queryResult .editBtn {
  margin-left: 20px;
}
.ifpQueryContainer .queryResult td {
  -ms-word-break: break-word;
  word-break: break-word;
}
.ifpQueryContainer .queryResult td .airline {
  font-family: sans-serif;
}
.ifpQueryContainer .queryResult td .city {
  width: 120px;
  font-family: sans-serif;
}
.ifpQueryContainer .calendar .col-xs-6:first-of-type {
  padding-left: 0;
}
.ifpQueryContainer .calendar .col-xs-6:last-of-type {
  padding-right: 0;
}
.ifpQueryContainer .queryBtnGroup {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ifpQueryContainer .queryBtnGroup .searchReset {
  margin-left: 270px;
}
.ifpQueryContainer .queryBtnGroup .resetBtn {
  margin-left: 20px;
}
.ifpQueryContainer .paginationCustom .paginationInput {
  margin-left: 10px;
}
.ifpQueryContainer .paginationCustom .paginationInput input {
  width: 50px;
}
.ifpQueryContainer .paginationCustom .pagination {
  margin: 0;
}
.selectedEditDialog form {
  margin: 0 0 10px;
  text-align: center;
}
.selectedEditDialog form .row {
  margin: 10px 0;
}
.selectedEditDialog form select {
  margin-left: 10px;
}
.selectedEditDialog form span {
  margin-left: 30px;
}
.selectedEditDialog form .help-block {
  text-align: left;
}
.importDialog .ui-dialog-title {
  padding: 10px;
}
.importDialog .ui-dialog-body {
  padding: 10px;
}
.importDialog iframe {
  width: 400px;
  overflow-x: hidden;
}
