<div id="ifg-region-component">
    <div class="bg_wrap"></div>
        <div class="region-wrap">
            <div class="ifg-rg-header">
                <p>区域选择</p>
            </div>
            <div class="ifg-rg-content">
                <ul id="zTreeDemo" class="ztree" ng-model="selectNode"></ul>
            </div>
            <div class="ifg-rg-footer">
                <button type="button" class="ifg-rg-btn primary" ng-click="saveclick()">确定</button>
                <button type="button" class="ifg-rg-btn" ng-click="cancelclick()">取消</button>
            </div>
        </div>

</div>