<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular - 服务</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        span{
            color: peachpuff;
        }
    </style>
</head>
<body>
<div data-ng-app="myApp" data-ng-controller="myCtrl">
    <ul type="circle">
        <li data-ng-repeat="x in myWelcome" >
            {{ x.userInfo.age + ': ' + x.userInfo.nickname }}
            <p data-ng-repeat="a in x.communityCommentList">
                <span>{{a.nickname}}</span>
            </p>
        </li>
    </ul>

    <p>{{theTime}}</p>

</div>


<script>
    var app = angular.module('myApp',[]);
    app.controller('myCtrl', function($scope, $http){
        $http.get("http://api-dev.shenyuevip.com/community/n/v2/getCommunityList?page=1&limit=20").then(function (response){
            $scope.myWelcome = response.data.datas.communityList;
            console.log($scope.myWelcome);
        });
    });
</script>
<!--<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $interval) {
        $scope.theTime = new Date().toLocaleTimeString();
        $interval(function () {
            $scope.theTime = new Date().toLocaleTimeString();
        }, 1000);
    });
</script>-->
</body>
</html>
