<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>神约ICP歌手</title>
<!--–[if IE]-->
<meta http-equiv="x-ua-compatible" content="ie=9">
<!--[endif]–-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home.css">
</head>
<body>
<div id="wrapper">
	<div class="head">
		<div class="head_cont">
			 <ul>
          <li class="logo"><a href="{:U('Index/index')}"><img src="__PUBLIC__/images/logo.jpg"></a></li>
          <li><a href="{:U('Index/index')}">首页</a></li>
          <li class="cur"><a href="{:U('Index/singer')}">歌手</a></li>
          <li><a href="{:U('Index/singerlist')}">排行榜</a></li>
       </ul>
       <ul class="right">
          <li><a href="{:U('Login/register')}">注册</a></li>
          <li class=""><a href="{:U('Login/login')}">登录</a></li>
       </ul>							
		</div>
	</div>
	<!-- 内容 -->
	<div class="main">		
		<div class="singerCont">
      <div class="tableCont">
          <ul class="abc">
            <li class="rM"><a href="#all">热门</a></li>
            <li><a href="#A">A</a></li>
            <li><a href="#B">B</a></li>
            <li><a href="#C">C</a></li>
            <li><a href="#D">D</a></li>
            <li><a href="#E">E</a></li>
            <li><a href="#F">F</a></li>
            <li><a href="#G">G</a></li>
            <li><a href="#H">H</a></li>
            <li><a href="#I">I</a></li>
            <li><a href="#J">J</a></li>
            <li><a href="#K">K</a></li>
            <li><a href="#L">L</a></li>
            <li><a href="#M">M</a></li>
            <li><a href="#N">N</a></li>
            <li><a href="#O">O</a></li>
            <li><a href="#P">P</a></li>
            <li><a href="#Q">Q</a></li>
            <li><a href="#R">R</a></li>
            <li><a href="#S">S</a></li>
            <li><a href="#T">T</a></li>
            <li><a href="#U">U</a></li>
            <li><a href="#V">V</a></li>
            <li><a href="#W">W</a></li>
            <li><a href="#X">X</a></li>
            <li><a href="#Y">Y</a></li>
            <li><a href="#Z">Z</a></li>
          </ul>
          <div class="ulConts">
            <ul class="singerNameUl" id="all">
              <li><a href="{:U('Index/bm')}">白描</a></li>
              <li><a href="{:U('Index/cb')}">程璧</a></li>
              <li><a href="{:U('Index/kwx')}">邝文珣</a></li>
              <li><a href="{:U('Index/lgw')}">林国伟</a></li>
              <li><a href="{:U('Index/lw')}">龙宽</a></li>
              <li><a href="{:U('Index/sjy')}">宋靖宇</a></li>
              <li><a href="{:U('Index/wxy')}">王晓燕</a></li>
              <li><a href="{:U('Index/wx')}">王旭</a></li>
              <li><a href="{:U('Index/xx')}">谢新</a></li>
              <li><a href="{:U('Index/xbj')}">薛炳进</a></li>
              <li><a href="{:U('Index/yxq')}">亚小七</a></li>
              <li><a href="{:U('Index/yd')}">一朵</a></li>
              <li><a href="{:U('Index/yyzl')}">音乐走廊</a></li>
              <li><a href="{:U('Index/yxz')}">殷欣梓</a></li>
              <li><a href="{:U('Index/zyx')}">赵佑勋</a></li>
              <li><a href="{:U('Index/zbq')}">周冰倩</a></li>
              <li><a href="{:U('Index/zy')}">周鱼</a></li>
              <li><a href="{:U('Index/zzh')}">周子寒</a></li>
            </ul>
            <ul class="singerNameUl" id="A">
             <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="B">
              <li><a href="{:U('Index/ad')}">白描</a></li>
            </ul>
            <ul class="singerNameUl" id="C">
              <li><a href="{:U('Index/cyx')}">程璧</a></li>
            </ul>
            <ul class="singerNameUl" id="D">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="E">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="F">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="G">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="H">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="I">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="J">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="K">
              <li><a href="{:U('Index/lrh')}">邝文珣</a></li>
            </ul>
            <ul class="singerNameUl" id="L">
              <li><a href="{:U('Index/tyl')}">林国伟</a></li>
              <li><a href="{:U('Index/wf')}">龙宽</a></li>
            </ul>
            <ul class="singerNameUl" id="M">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="N">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="O">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="P">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="Q">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="R">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="S">
              <li><a href="{:U('Index/yff')}">宋靖宇</a></li>
            </ul>
            <ul class="singerNameUl" id="T">
              <li><a href="{:U('Index/tyl')}">谭咏麟</a></li>
            </ul>
            <ul class="singerNameUl" id="U">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="V">
              <li><a href="#">无数据</a></li>
            </ul>
            <ul class="singerNameUl" id="W">
              <li><a href="{:U('Index/zly')}">王晓燕</a></li>
              <li><a href="{:U('Index/zxy')}">王旭</a></li>
            </ul>
            <ul class="singerNameUl" id="X">
              <li><a href="{:U('Index/zbc')}">谢新</a></li>
              <li><a href="{:U('Index/xbj')}">薛炳进</a></li>
            </ul>
            <ul class="singerNameUl" id="Y">
              <li><a href="{:U('Index/yxq')}">亚小七</a></li>
              <li><a href="{:U('Index/yd')}">一朵</a></li>
              <li><a href="{:U('Index/yyzl')}">音乐走廊</a></li>
              <li><a href="{:U('Index/yxz')}">殷欣梓</a></li>
            </ul>
            <ul class="singerNameUl" id="Z">
              <li><a href="{:U('Index/zyx')}">赵佑勋</a></li>
              <li><a href="{:U('Index/zbq')}">周冰倩</a></li>
              <li><a href="{:U('Index/zy')}">周鱼</a></li>
              <li><a href="{:U('Index/zzh')}">周子寒</a></li>
            </ul>
          </div>
          <!-- <div class="fPage fPage2">
             <ul>
                <li class="liCur"><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">......</a></li>
                <li><a href="javascript:void(0);">10</a></li>
             </ul>
          </div> -->
      </div>
		</div>
	</div>
  <div class="footer footer2">
     <div class="footer_cont">
        <ul>
           <li><a href="">服务条款</a><a href="">安全须知</a><a href="">“神约”用户协议</a><a href="">客服电话：4008 7288 83</a></li>
           <li><a href="">备案/许可证编号为：京ICP备17025424</a></li>
        </ul>
     </div>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/js/home.js"></script>
</body>
</html>