<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>私有运价</title>
    <link rel="stylesheet" type="text/css" href="./style/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style/common/ifp.common.min.css?v=201611281935">
    <link rel="stylesheet" type="text/css" href="./style/ifp/ifpImport.min.css?v=201611281935" />
</head>
<body ng-controller="ifpImportCtrl">

    <div class="container">
        <h3 ng-class="'hidden'">
            页面加载中...
        </h3>
        <div class="ifpImportContainer hidden" ng-class="'show'">

            <div class="row">
                <form name="fileUploader">
                    <div class="well">
                        <!--<input type="text" class="form-control" ng-model="importPath" />-->
                        <div class="alert alert-danger" ng-if="ierrMsg.length > 0">{{ierrMsg[0].msg}}</div>

                        <div>
                            <div style="float:right;">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="btn_upload()" ng-disabled="isImport"><i>导入</i></button>
                            </div>
                            <input type="file" id="file1" accept="{{acceptType}}" ng-disabled="isImport" />

                            <!--input type='text' name='textfield' id='textfield' class='txt' />
                            <input type='button' class='btn' value='浏览......' />
                            <input type="file" name="fileField" class="file" id="fileField" size="28" ng-change="btn_openFile" />-->
                        </div>
                        <div class="alert alert-success" ng-if="isFinished" style="margin-top:10px;">{{successMsg||"导入完成"}}</div>

                        <div ng-repeat="file in files" class="file" style="margin-top: 20px;border-bottom-color: antiquewhite;border-bottom-style: double;">
                            <div>
                                <span>{{file.name}}</span><div style="float:right;"><span>{{file.humanSize}}</span><a ng-click="btn_remove(file)"><span class="glyphicon glyphicon-remove"></span></a></div>
                            </div>
                            <progress value="{{file.loaded}}" max="{{file.size}}"></progress>
                        </div>
                        <span class="small text-danger">上传附件最大不能超过5M</span>
                    </div>
                </form>
            </div>
            <div class="row">
                <span class="text-danger">温馨提示：政策信息新增出票时长属性，请参照新的模板填写信息导入，谢谢！</span>
            </div>


            <!--{{text}}-->
        </div>
        <div class="modal fade in showLoading hidden" ng-class="{'hidden':!showLoading}">
            <div class="modal-backdrop fade in"></div>
            <section class="loading"></section>
        </div>

        <script type="text/ng-template" id="ifpDialog.html">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dialogOkClick()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-title">提示</h4>
            </div>
            <div class="modal-body" id="modal-body" ng-bind-html="dialogContent | toTrust">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="dialogOkClick()">确定</button>
            </div>
        </script>

        <script type="text/ng-template" id="ifpConfirm.html">
            <div class="modal-header">
                <button type="button" class="close" ng-click="confrimNoClick()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modal-title">确认</h4>
            </div>
            <div class="modal-body" id="modal-body" ng-bind-html="confirmContent | toTrust">

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="confirmOkClick()">是</button>
                <button class="btn btn-primary" type="button" ng-click="confrimNoClick()">否</button>
            </div>
        </script>
        <script src="./script/lib/require.js"></script>
        <script src="./policy/IFPUrlJs"></script>
        <script type="text/javascript">
            requirejs(["script/main.js?v=201702131552"], function () {
                require(["controller/ifpImportCtrl"]);
            });
        </script>
    </div>
</body>
</html>